@use "./theme.scss";
@use "./transition.scss";

.pointer {
  cursor: pointer
}

.not-allow {
  cursor: not-allowed;
}

.underline {
  text-decoration: underline;
}

.blurtext {
  color: #409eff;
  text-decoration: underline;
  cursor: pointer;
}